@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h1>@message</h1>





<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    string message = "";
    protected async override void OnInitialized()
    {
        message = await SecureStorage.GetAsync("accounttoken");
        StateHasChanged();
    }
}