@page "/login"
@using DeliverouxDev.Models
@using DeliverouxDev.Authentication
@using DeliverouxDev.Infrastructures.Repository
@using MediatR
@using Microsoft.AspNetCore.Components
@using DeliverouxDev.Applications.UseCase.Login
@inject NavigationManager Navigation;
@inject CustomAuthenticationStateProvider AuthStateProvider;
@inject IMediator Mediator;
<h3>Login to Access Application</h3>

<div class="alert alert-info">
    This is a dummy login page, providing `Test` for the Username and Password will authenticate you.
</div>

<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="alert alert-danger" hidden="@loginModel.LoginFailureHidden">
        Invalid login attempt, please correct and try again.
    </div>
    <div class="form-group">
        <label>Username</label>
        <InputText id="email" @bind-Value="loginModel.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText id="password" type="password" @bind-Value="loginModel.Password" class="form-control" />
    </div>
    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary w-100">Login Now</button>
    </div>
</EditForm>

@code {
    private LoginViewModel loginModel = new();

    private async Task HandleValidSubmit()
    {
        var login = await Mediator.Send(new InputLoginUseCase(loginModel.Username, loginModel.Password));
        
        if(login.token is null)
            return;
        
        await AuthStateProvider.Login(login.token);
        Navigation.NavigateTo(""); 
    }
}